table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #9590ce;
}

table.dataTable.no-footer {
    background-color: rgba(255, 255, 255, 0.82);
    padding: 20px;
    border-radius: 20px;
    color: #222;
}

table.dataTable tbody tr {
    background-color: #ffffff;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
    background-color: #9590ce;
}


table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #9590ce;
}

table.dataTable.order-column tbody tr>.sorting_1, table.dataTable.order-column tbody tr>.sorting_2, table.dataTable.order-column tbody tr>.sorting_3, table.dataTable.display tbody tr>.sorting_1, table.dataTable.display tbody tr>.sorting_2, table.dataTable.display tbody tr>.sorting_3 {
    background-color: #9590ce;
}

.dataTables_wrapper .dataTables_length, .dataTables_wrapper .dataTables_filter, .dataTables_wrapper .dataTables_info, .dataTables_wrapper .dataTables_processing, .dataTables_wrapper .dataTables_paginate {
    color: #222;
    float: left;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    max-width: 40%;
}

.dataTables_wrapper .dataTables_filter input {
    margin-left: 20px;
    color: #222;
}

select {}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #24232d;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ffffff;
}

table.dataTable.stripe tbody tr.odd:hover, table.dataTable.display tbody tr.odd:hover {
    background-color: #9590ce;
}

.table-row {
    max-height: 80px;
    overflow: auto;
}

