.center-text {
    text-align: center;
}


.iframe-demo {
    width: 100%;
    height: 600px;
    border-radius: 50px;
}

.iframe-container {
    height: 100%;
    padding-left: 50px;
}

.overlay {
    margin-left: 50px;
}

.demo-header {
    text-align: center;
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;   
    padding: 50px; 
}

.text-header {
    font-size: 40px;
    font-family: 'Varela Round', sans-serif;
    font-weight: 600;
    padding-bottom: 20px;
}

.extra-padding {
    min-height: 100px;
}

li {

}


.text-sub-header {
    font-family: 'Varela Round', sans-serif;
}

.demo-info {
    color: #F05F40;
}

a {
    font-size: 30px;
    line-height: 55px;
    text-decoration: none;
    color: #b9b3f1;
}

.example {
    border-radius: 30px;
    min-height: 50px;
    max-height: 600px;
    margin-left: 50px;
    max-width: 100%;
}


.small-example {
    width: 100%;
    max-height: 100px;
    min-height: 50px;
}

.omicxview {
    color: #fd7028;
    font-weight: 600;
}

.slide {
    padding-bottom: 200px;
    min-height: 900px;
}
