#sidebar {
    position: fixed; 
    height: 100vh;
    float: left;
    background-color: white;
    width: 30%;
    margin-top: -20px;
    color: #222;
    overflow: scroll;
}

#visdiv {
    width: 65%;
    float: left;
    overflow: visible;
}

.sidebar-body {
    color: #222;
}

.sidebar-header {
    background-color: white;
    border: none;
    font-size: large;
    font-weight: bold;
    float: none;
    border-radius: 10px;
    margin-left: 10px;
    height: 80px;
    padding-left: 5px;
    padding-right: 5px;
    max-width: 45%;
}

#minimise-btn {
    background-color: "white";
    float: right;
    border: none;
    font-size: large;
    font-weight: 800;
    padding
}


.sidebar-title {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 700;
    color: #222;
}

.info-col {
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 5px;
    width: 60%;
}

.label-col {
    padding: 8px;
}

.row {
    padding-top: 15px;
    padding-left: 20px;
    margin-right: -15px;
    margin-left: -15px;
}

.chem-img {
    width: 200px;
    height: 200px;
    margin-left: 30%;
    border-radius: 80px;
    background-color: #faf4f4;
    padding: 10px;
}

.escher-logo {
    width: 50px;
}

.sidebar-bold {
    font-weight: 700;
}

.svg-graph {
    padding: 5px;
    padding-left: 20px;
}

.sidebar-sub-header {
    border: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0);
}



