/* from https://github.com/DavidDurman/FlexiColorPicker */

.slider-wrapper {
    width: 80px;
    height: 150px;
    position: relative;
    float: left;
    margin: 20px;
}

#picker {
    height: 0px;
    width: 0px;
}

#picker-indicator {
    width: 0px;
    height: 0px;
    position: absolute;
}

#slider-indicator {
    width: 100%;
    height: 15px;
    position: absolute;
    border: 3px solid whitesmoke;
    border-radius: 20px;
}

#colour-example {
    width: 100%;
    height: 100%;
    border: 3px solid whitesmoke;
}

.colour-container {
    border-radius: 50px;
    border: 10px;
}

svg:not(:root) {
    border-radius: 50px;
}

.action-container {
    display: none;
    width: 500px;
    height: 600px;
    z-index: 10;
    top: 50px;
    left: 50px;
    position: absolute;
    background-color: #e8e7ef;
    color: #24232d;
    border-radius: 80px;

}

.sub-actions {
    display: none;
}

.action-row {
    padding: 30px;
    padding-left: 30px;
}
