/**
 * Css override for the modal which displays the ChEBI information
 */

.modal-body {
    color: #222;
}


.modal-title {
    margin-top: 30px;
    margin-left: 40px;
    font-size: 25px;
    font-weight: 700;
    color: #222;
}


/**
 * Where the info is displayed
 */
.info-col {
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 5px;
}

.label-col {
    padding: 8px;
}

.row {
    padding-top: 15px;
    padding-left: 20px;
    margin-right: -15px;
    margin-left: -15px;
}

.model-background {
    background-color: #eee2e2;
}

/**
 * Bootstrap override
 */
.navbar-default {
    border: none;
}

/**
 * For the chemical structure
 */
.chem-img {
    width: 200px;
    height: 200px;
    margin-left: 30%;
    border-radius: 80px;
    background-color: #faf4f4;
    padding: 10px;
}

.escher-logo {
    width: 50px;
}

.modal-bold {
    font-weight: 700;
}

.svg-graph {
    padding: 5px;
    padding-left: 20px;
}

.modal-sub-header {
    border: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: rgba(240, 248, 255, 0);
}




