.btn-dropdown {
    width: 550px;
    text-align: left;
}

.btn-action {
    width: 550px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background-color: rgba(36, 35, 45, 0);
}
